# BEGIN_KITTY_THEME
# Galaxy
include current-theme.conf
# END_KITTY_THEME

font_family      family="JetBrainsMonoNL Nerd Font"
font_size     {%- if os=="macosx" %} 17 {% else %} 13 {%- endif %}

tab_bar_edge  top
tab_bar_style powerline
tab_bar_margin_height 0.0 0.0
