---
# dotfiles role vars
dotfiles_gitconfig_name: "Kartik Vashistha"
dotfiles_gitconfig_email: "kartikv.work@gmail.com"
dotfiles_wsl: false
dotfiles_append_to_path: "$HOME/.local/bin"
dotfiles_machine_type: personal
dotfiles_xdg_config_dirs:
  - alacritty
  - ghostty
  - ghostty/themes
  - kitty
  - nvim
  - tmux
  - wezterm
  - zed
dotfiles_home_user_dirs:
  - code/github.com/personal
  - code/github.com/others
  - code/github.com/forks

# neovim role vars
neovim_install_nvim_distros: true

# asdf role vars
asdf_install_via_gh_releases: true

# setup-fedora role vars
fedora_nvidia: true
fedora_docker: true
fedora_enable_flatpak: true

fedora_packages:
  - 1password
  - 1password-cli
  - NetworkManager-wifi
  - bc
  - code
  - composer
  - fastfetch
  - fd-find
  - ffmpeg
  - firefox
  - flatpak
  - fzf
  - gcc
  - gcc-c++
  - ghostty
  - glances
  - gnome-extensions-app
  - gnome-tweaks
  - golang
  - google-chrome-stable
  - helm
  - htop
  - https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm
  - iosevka-nerd-fonts
  - iosevkaterm-nerd-fonts
  - iosevkatermslab-nerd-fonts
  - iwlegacy-firmware
  - iwlwifi-dvm-firmware
  - iwlwifi-mvm-firmware
  - julia
  - kitty
  - kubectl
  - k9s
  - luarocks
  - make
  - neovim
  - nodejs
  - nordvpn
  - pavucontrol
  - php
  - python3-ansible-lint
  - python3-pip
  - python3-virtualenvwrapper
  - regexp
  - ripgrep
  - ruby
  - rustup
  - samba
  - steam
  - thunderbird
  - tmux
  - unzip
  - vim-enhanced
  - wezterm
  - zen-browser

fedora_grouplist:
  - "@core"
  - "@sound-and-video"
  - "@virtualization"
  - "@multimedia"
  # this apparently needs to be (re-)installed after every new fedora release so that we can get the latest software after upgrading to a new release
  - "@workstation-product-environment"
fedora_flatpak:
  - org.signal.Signal
  - org.telegram.desktop
  - us.zoom.Zoom

fedora_third_party_repos:
  - name: 1password
    description: "1Password Stable Channel"
    baseurl: https://downloads.1password.com/linux/rpm/stable/$basearch
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://downloads.1password.com/linux/keys/1password.asc

  - name: vscode
    description: Visual Studio Code
    baseurl: https://packages.microsoft.com/yumrepos/vscode
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc

  - name: google-chrome
    description: google-chrome
    baseurl: https://dl.google.com/linux/chrome/rpm/stable/x86_64
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://dl.google.com/linux/linux_signing_key.pub

  - name: google-cloud-sdk.repo
    description: Google Cloud CLI
    baseurl: https://packages.cloud.google.com/yum/repos/cloud-sdk-el8-x86_64
    enabled: true
    gpgcheck: true
    repo_gpgcheck: false
    gpgkey: https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

  - name: docker-ce.repo
    description: Docker CE Stable - $basearch
    baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
    enabled: true
    gpgcheck: true
    repo_gpgcheck: false
    gpgkey: https://download.docker.com/linux/fedora/gpg

  - name: nordvpn
    description: nordvpn
    baseurl: https://repo.nordvpn.com//yum/nordvpn/centos/x86_64
    enabled: true
    gpgcheck: false
    repo_gpgcheck: false
    gpgkey:

  - name: libnvidia-container
    description: libnvidia-container
    baseurl: https://nvidia.github.io/libnvidia-container/stable/centos8/$basearch
    enabled: true
    gpgcheck: false
    repo_gpgcheck: true
    gpgkey: https://nvidia.github.io/libnvidia-container/gpgkey

  - name: terra
    description: Terra $releasever
    baseurl: https://repos.fyralabs.com/terra$releasever
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://repos.fyralabs.com/terra$releasever/key.asc
    skip_if_unavailable: true
    metadata_expire: 4h

fedora_copr_repos:
  - name: sneexy/zen-browser
    state: enabled
  - name: wezfurlong/wezterm-nightly
    state: enabled
