---
# tasks file for dotfiles

# Run oh my zsh tasks
- name: Run ohmyzsh tasks
  ansible.builtin.include_tasks: oh-my-zsh.yml

- name: Create .zshrc file
  ansible.builtin.template:
    src: templates/zshrc.j2
    dest: "{{ dotfiles_home_user_path }}/.zshrc"
    mode: "0644"

- name: Create .zshenv file
  ansible.builtin.template:
    src: templates/zshenv.j2
    dest: "{{ dotfiles_home_user_path }}/.zshenv"
    mode: "0644"

- name: Create .zprofile file
  ansible.builtin.template:
    src: templates/zprofile.j2
    dest: "{{ dotfiles_home_user_path }}/.zprofile"
    mode: "0644"

- name: Create .omzrc file
  ansible.builtin.template:
    src: templates/omzrc.j2
    dest: "{{ dotfiles_home_user_path }}/.omzrc"
    mode: "0644"

- name: Create .ssh directory
  ansible.builtin.file:
    state: directory
    path: "{{ dotfiles_home_user_path }}/.ssh"
    mode: '0755'

- name: Create .ssh/config
  ansible.builtin.template:
    src: templates/ssh-config.j2
    dest: "{{ dotfiles_home_user_path }}/.ssh/config"
    mode: "0644"

- name: Create gitconfig
  ansible.builtin.template:
    src: templates/gitconfig.j2
    dest: "{{ dotfiles_home_user_path }}/.gitconfig"
    mode: "0644"

- name: Create XDG config dirs
  ansible.builtin.file:
    state: directory
    path: "{{ dotfiles_home_user_path }}/.config/{{ item }}"
    mode: '0755'
  loop: "{{ dotfiles_xdg_config_dirs }}"

- name: Clone tpm   # noqa: latest
  ansible.builtin.git:
    repo: 'https://github.com/tmux-plugins/tpm.git'
    dest: "{{ dotfiles_home_user_path }}/.tmux/plugins/tpm"
    depth: 1

- name: Install tmux configuration
  ansible.builtin.template:
    src: templates/tmux.conf.j2
    dest: "{{ dotfiles_home_user_path }}/.config/tmux/tmux.conf"
    mode: "0644"

- name: Run tasks exclusive to configure a personal machine
  ansible.builtin.include_tasks: personal.yml
  when: dotfiles_machine_type == 'personal'
