---
# tasks file for asdf
- name: Install asdf via Homebrew
  community.general.homebrew:
    name:
      - asdf
    state: present
  when: os == "macosx"

- name: Install asdf mamually
  ansible.builtin.include_tasks: manual_install.yml
  when: os == "fedora"

- name: Create .asdf directory
  ansible.builtin.file:
    state: directory
    path: "{{ asdf_dir }}"
    mode: '0755'

- name: Clone tool plugin repos  # noqa: latest
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ asdf_dir }}/plugins/{{ item.name }}"
  with_items: "{{ asdf_plugins }}"

- name: Set default tool versions
  ansible.builtin.lineinfile:
    path: "{{ asdf_tool_file_path }}/.tool-versions"
    regexp: '^{{ item.name }} {{ item.default_version }}'
    line: '{{ item.name }} {{ item.default_version }}'
    state: present
    create: true
    mode: '0644'
  with_items: "{{ asdf_plugins }}"
