// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run the `open default settings` command
// from the command palette or from `Zed` application menu.
{
  "theme": "One Dark Pro",
  "features": {
    "edit_prediction_provider": "none"
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false
  },
  "diagnostics": {
    "include_warnings": true,
    "inline": {
      "enabled": true,
      "update_debounce_ms": 150,
      "padding": 4,
      "min_column": 0,
      "max_severity": null
    }
  },
  "vim_mode": true,
  "soft_wrap": "editor_width",
  "buffer_font_family": "Iosevka Nerd Font",
  "tab_bar": {
    "show": false
  },
  "ui_font_family": ".SystemUIFont",
  "terminal": { "font_family": "Iosevka Nerd Font", "font_size": 16 },
  "ui_font_size": 17,
  "buffer_font_size": 17,
  "relative_line_numbers": true,
  "tabs": {
    "file_icons": true
  },
  "auto_install_extensions": {
    "ansible": true,
    "gosum": true,
    "one-dark-pro": true
  },
  "file_types": {
    "INI": ["*ansible.cfg"],
    "Ansible": [
      "**.ansible.yml",
      "**/defaults/**.yml",
      "**/defaults/**.yaml",
      "**/meta/**.yml",
      "**/meta/**.yaml",
      "**/tasks/**.yml",
      "**/tasks/**.yaml",
      "**/handlers/**.yml",
      "**/handlers/**.yaml",
      "**/vars/**.yml",
      "**/vars/**.yaml",
      "**/group_vars/**.yml",
      "**/group_vars/**.yaml",
      "**/playbooks/**.yml",
      "**/playbooks/**.yaml"
    ]
  },
  "lsp": {
    "yaml-language-server": {
      "settings": {
        "yaml": {
          "hover": "true",
          "completion": "true",
          "schemas": {
            "https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/inventory.json": [
              "hosts.yml",
              "/inventory/*.yml",
              "*/inventory/hosts.yml",
              "**/inventory/*hosts.yml",
              "**hosts.yml"
            ]
          }
        }
      }
    },
    "ansible-language-server": {
      "settings": {
        "ansible": {
          "validation": {
            "enabled": "true",
            "lint": {
              "enabled": "true",
              "path": "ansible-lint"
            }
          },
          "python": {
            "interpreterPath": "python3"
          },
          "ansible": {
            "path": "ansible"
          },
          "executionEnvironment": {
            "enabled": "false"
          }
        }
      }
    }
  }
}
