theme = Hacktober

font-size = 14

window-save-state = always
window-padding-balance = true
window-decoration = true

gtk-wide-tabs = true
gtk-adwaita = false
gtk-titlebar = true

# Navigate window splits
keybind = ctrl+shift+h=goto_split:left
keybind = ctrl+shift+j=goto_split:bottom
keybind = ctrl+shift+k=goto_split:top
keybind = ctrl+shift+l=goto_split:right
