Host *
  {% if os == "fedora" %}
  IdentityAgent ~/.1password/agent.sock
  {% endif -%}
  {% if os=="macos" %}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  {% endif -%}
