# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

source ~/.omzrc
source virtualenvwrapper.sh

. ~/.asdf/plugins/java/set-java-home.zsh

# Aliases
alias k='kubectl'
alias gac='git add . && cz'

alias vim=nvim

{% if dotfiles_wsl -%}
# WSL aliases
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{% endif -%}

# BEGIN ANSIBLE MANAGED BLOCK
# Config to allow easy switching between personal and various neovim distribution configs
alias nvim-astro="NVIM_APPNAME=AstroNvim nvim"
alias nvim-kick="NVIM_APPNAME=kickstart nvim"
alias nvim-lazy="NVIM_APPNAME=LazyVim nvim"
alias nvim-chad="NVIM_APPNAME=NvChad nvim"

function nvims() {
  items=("default" "AstroNvim" "kickstart" "LazyVim" "NvChad")
  config=$(printf "%s\n" "${items[@]}" | fzf --prompt=" Neovim Config  " --height=~50% --layout=reverse --border --exit-0)
  if [[ -z $config ]]; then
    echo "Nothing selected"
    return 0
  elif [[ $config == "default" ]]; then
    config=""
  fi
  NVIM_APPNAME=$config nvim $@
}
# END ANSIBLE MANAGED BLOCK

function kx() {
  contexts=$(kubectl config get-contexts -o=name | fzf --prompt="Select kube context: " --layout=reverse --height=~50% --border)
  returncode=($?)

  if [ $returncode -ne 0 ]; then
    echo "Context selection cancelled."
    return 1
  fi

  kubectl config use-context $contexts
}

function kns() {
  namespace=$(kubectl get namespace --no-headers -o custom-columns=":metadata.name" | fzf --prompt="Select kube namespace: " --height=~50% --layout=reverse --border --exit-0)
  returncode=($?)

  if [ $returncode -ne 0 ]; then
    echo "Namespace selection cancelled."
    return 1
  fi

  kubectl config set-context --current --namespace=$namespace
}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
