# vim:ft=yaml.ansible
# Run playbook via: ansible-playbook playbooks/kubernetes.yml --vault-password-file=bin/vault_passwd_file.sh
- name: Common tasks across all kubernetes hosts
  hosts: kubernetes
  roles:
    - role: fedora
    - role: dotfiles
    - role: neovim
    - role: kubernetes

- name: Specific tasks for kubernetes master nodes
  hosts: kubernetes_master_nodes
  tasks:
    - name: Create .kube directory
      ansible.builtin.file:
        state: directory
        path: "{{ ansible_env.HOME }}/.kube"
        mode: '0755'

    - name: Copy kube config file to home dir
      ansible.builtin.copy:
        remote_src: true
        src: /etc/kubernetes/admin.conf
        dest: "{{ ansible_env.HOME }}/.kube/config"
        mode: '0644'
      become: true

    - name: Taint master nodes to prevent application pods from running on it
      kubernetes.core.k8s_taint:
        name: "{{ item }}"
        state: present
        taints:
          - effect: NoSchedule
            key: "node-role.kubernetes.io/control-plane"
      with_items: "{{ ansible_facts['hostname'] }}"
