---
# dotfiles role vars
dotfiles_gitconfig_name: "Kartik Vashistha"
dotfiles_gitconfig_email: "kartikv.work@gmail.com"
dotfiles_wsl: false
dotfiles_machine_type: server
dotfiles_xdg_config_dirs:
  - nvim
  - tmux

# neovim role vars
neovim_install_nvim_distros: true

# setup-fedora role vars
fedora_nvidia: false
fedora_docker: true
fedora_enable_flatpak: false

fedora_packages:
  - fastfetch
  - fzf
  - htop
  - glances
  - vim-enhanced
  - samba
  # - 1password
  # - 1password-cli
  - neovim
  - python3-ansible-lint
  - python3-virtualenvwrapper
  - nodejs
  - gcc
  - gcc-c++
  - make
  - bc
  - unzip
  - tmux
  - fd-find
  - ripgrep
  - python3-pip
  - regexp
  - cargo
  - julia
  - composer
  - php
  - ruby
  - luarocks
  - golang
  - iptables
  - iproute-tc
  - cri-o
  - containernetworking-plugins
  - kubernetes
  - kubernetes-kubeadm
  - kubernetes-client

fedora_grouplist:
  - "@virtualization"
  - "@multimedia"

fedora_third_party_repos:
  - name: docker-ce.repo
    description: Docker CE Stable - $basearch
    baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
    enabled: true
    gpgcheck: true
    repo_gpgcheck: false
    gpgkey: https://download.docker.com/linux/fedora/gpg

kubernetes_authorized_keys:
  - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIInfQVFhY0rtzKFS5SlkW3c7JsMVqyREpJPfcVKAhHV5"
